.idea/**/private/**
.idea/dataSources
.idea/dataSources.*
.idea/httpRequests/*
.idea/shelf
.idea/workspace.xml
/composer.phar
/vendor/
/.vagrant/
/.php_cs.cache
/phpunit.phar
/build/
/phing-latest.phar
/.phpunit.result.cache
/.php-cs-fixer.cache
