.idea/**/private/**
.idea/dataSources
.idea/dataSources.*
.idea/httpRequests/*
.idea/shelf
.idea/workspace.xml
/composer.phar
/vendor/
/.vagrant/
/phpunit.phar
/build/
/phing-latest.phar
/*.cache
/tests/Codeception/tests/_output
*.log
/composer.lock
